@use '../../Styles/Partials/colors' as *;
@use '../../Styles/Partials/global' as *;
@use '../../Styles/Partials/mixins' as *;

.button {
    @include buttonStyles;
    background-color: $cta-green;
    border: none;
    box-shadow: 2px 2px 10px #FDF455;
    &:active {
        transform: translate(4px, 4px);
    }
}