@keyframes logoBob {
    0% {
      transform: translate(0px);
    }

    25% {
        transform: translate(30px);
    }

    50% {
        transform: translate(0px);
    }
    
    75% {
      transform: translate(-30px);
    }

    100% {
        transform: translate(0px);
    }

  }

  @keyframes buttonBounce {
    0% {
      transform: translate(0px, 0px);
    }

    25% {
        transform: translate(6px, 8px);
    }

    50% {
        transform: translate(-9px, 0px);
    }
    
    75% {
      transform: translate(2px, -8px);
    }

    100% {
        transform: translate(0px, 0px);
    }

  }

  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  // smooth fall from initial position to land in output bar
  @keyframes blockDrop {
    0% {
      transform: translate(0px, 0px);
    }

    25% {
        transform: translate(0px, 97.75px);
    }

    50% {
        transform: translate(0px, 195.5px);
    }
    
    75% {
      transform: translate(0px, 293.25px);
    }

    100% {
        transform: translate(0px, 391px);
    }

  }