$background-green: #044422;
$primary-text: white;
$orange: #F29033;
$pale-orange: #FFB980;
$pale-orange-2: #ffb03a;
$pale-orange-3: #ff986c;
$hot-red: #EF3C41;
$pale-pink: #ff8f8f;
$hot-orange: #F26437;
$cta-green: #97C255;
$dark-blue: #212F7A;
$periwinkle: #888CF4;