@use './typography' as *;
@use './colors' as *;

html {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}