// FIRST FONT
@font-face {
    font-family: 'Press Start 2P';
    src: url("../../Assets/typography/Press_Start_2P/PressStart2P-Regular.ttf") format('truetype');
    font-weight: 400;
}

// SECOND FONT
@font-face {
    font-family: 'Aldrich';
    src: url("../../Assets/typography/Aldrich/Aldrich-Regular.ttf") format('truetype');
    font-weight: 400;
}

// MOBILE FONTS


// TABLET FONTS


// DESKTOP FONTS