@use '../../Styles/Partials/colors' as *;
@use '../../Styles/Partials/global' as *;
@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/animations' as *;

.home{
    background-color: $dark-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    height: 100vh;
    margin: 0;
    font-family: 'Aldrich';
    
    &__instruction-block{
        background-color: $pale-orange-3;
        padding: 1rem 0;
        height: 11rem;
        width: 48rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        box-shadow: 4px 4px rgb(255, 208, 0);
    }
    
    &__instruction-text{
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 2rem;
        padding: 0;
        width: 0;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        white-space: nowrap;
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation: typing 4s steps(40, end) forwards;
        
        
    // separate each line of text into different modifier class, set timeout to add class staggered so each line gets typed separately

        &--first{

        }

        &--second{
            animation-delay: 3.5s;

        }

        &--third{
            animation-delay: 7.5s;
            

        }

        &--fourth{
            animation-delay: 10.6s;
           

        }

        &--fifth{
            animation-delay: 13.6s;
           

        }
    }

    &__button-wrapper{
            animation: buttonBounce 3.5s linear infinite;
            animation-delay: 18.2s;
        }
    

}