@use '../../Styles/Partials/colors' as *;
@use '../../Styles/Partials/global' as *;
@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/animations' as *;

.home{
    background-color: $dark-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    height: 100vh;
    margin: 0;
    font-family: 'Aldrich';
    
    &__instruction-block{
        background-color: #ff986c;
        padding: 1rem 0;
        height: 11rem;
        width: 48rem;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        box-shadow: 5px 5px 6px 4px rgba(255, 204, 0, 0.617);

        
    }
    
    &__instruction-text{
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 2rem;
        padding: 0;
        width: 0;
        overflow: hidden; 
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .15em;
        animation: typing 4s steps(40, end) forwards;
  
        &--second{
            animation-delay: 3.5s;

        }

        &--third{
            animation-delay: 7.5s;    

        }

        &--fourth{
            animation-delay: 10.6s;
           
        }

        &--fifth{
            animation-delay: 13.5s;
         
        }
    }

    &__button-wrapper{
            animation: buttonBounce 3.5s linear infinite;
            animation-delay: 15.8s;
        }
    

}