@use '../../Styles/Partials/colors' as *;
@use '../../Styles/Partials/global' as *;
@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/variables' as *;

.english-phrase{
    font-size: 1.4rem;
    margin: 0;
    background-image: linear-gradient($pale-orange, $pale-orange-2, $pale-orange-3);
    @include tablet{
        padding: 0;
    }

    &__text{
        margin: 0;
        padding: 1rem;
    }
}