@use '../../Styles/Partials/colors' as *;
@use '../../Styles/Partials/global' as *;
@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/variables' as *;

.blocks{
    height: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
    @include tablet {
        height: auto;
    }


    &__single{
        @include bankBlocks;
        position: absolute;
        text-align: center;
        
        &--current{
            display: block;

            &:nth-child(1){
                background-color: $pale-orange-2;
            }
            &:nth-child(2){
                background-color: $pale-pink;
            }
            &:nth-child(3){
                background-color: $hot-red;
            }
        
        }
        
        &--hidden{
            display: none;

        }



    }
}
