@use '../../Styles/Partials/colors' as *;
@use '../../Styles/Partials/global' as *;
@use '../../Styles/Partials/mixins' as *;

.blocks {
    border: 1px solid white;
    height: 28rem;

    &__blocks-all{
        border: 4px dotted lime;
        width: 100%;
        height: 100%;

    }

    &__blocks-single{
        border: 4px dotted lime;


        &--visible{

        
        }

        &--hidden{

        }

    }
}