@use '../../Styles/Partials/colors' as *;
@use '../../Styles/Partials/global' as *;
@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/variables' as *;

.blocks{
    // border: 1px solid white;
    height: 100%;
    display: flex;
    // flex-direction: column;
    align-items: flex-start;
    position: relative;
    


    &__single{
        @include bankBlocks;
        background-color: $periwinkle;
        position: relative;
            top: 20%;

        
        &--visible{
            display: flex;
            position: relative;
            top: 20%;

            
        
        }

        &--hidden{
            display: none;

        }

    }
}
