@use '../../Styles/Partials/colors' as *;
@use '../../Styles/Partials/global' as *;
@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/variables' as *;

.back-nav{
    padding-top: 0;
    display: flex;
    justify-content: flex-start;
    
    
    &__image{
        width: 6rem;

        @include tablet{
            width: 8rem;

        }
    

    }
}